<div class="col-xs-12 col-sm-6">
  <h1>Instante</h1>
  <h2>Log in</h2>
</div>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
<div class="col-xs-12 col-sm-6">
  <div class="panel panel-default">
    <div class="form_group">
      <%= f.email_field :email, placeholder: "e-mail", rows: 5, class: "form-control" %>
    </div>
    <div class="form_group">
      <%= f.password_field :password, placeholder: "Password", rows: 5, class: "form-control" %>
    </div>
    <label class="send btn btn-default btn-block">
      <div>
        <%= f.submit "Log in", class: "send"%>Log in
      </div>
    </label>
    <div class="">
      <%= link_to "Forgot Password", "#" %>
    </div>
    <div class="">
      <%= link_to "Create new account", new_user_path  %>
    </div>
  </div>
</div>
<% end %>