<h1>Sessions new</h1>
<br>
<h1>Log in</h1> 
 <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %> 
 <%= f.label :email %> 
 <%= f.email_field :email %> 
 <%= f.label :password %> 
 <%= f.password_field :password %> 
 <%= f.submit "Log in" %> 
 <% end %>
<br>
<%= link_to 'New User', new_user_path %>
<br>
<%#= link_to 'edit User', edit_user_path %>
<br>
<%= link_to 'New post', new_post_path %>
<br>
<%= link_to 'New Session', new_session_path %>