<div class="">
  <% if @user.errors.any? %>
    <div class="" id="error_explanation">
      <h2><%=pluralize(@user.errors.count, "error") %>prohibited<%= @user.name %> from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>
<div class="">
  <h2>Sign Up</h2><br>
  <h5>It is quick and easy</h5>
</div>
<%= form_with(model: @user, local: true) do |form| %>
  <div class="form_group" >
    <%= form.text_field :name, placeholder: "Name", rows: 7, class: "form-control" %>
  </div>
  <div class="form_group" >
    <%= form.text_field :email, placeholder: "e-mail", rows: 7, class: "form-control" %>
  </div>
  <div class="form_group" >
    <%= form.password_field :password, placeholder: "Password", rows: 7, class: "form-control" %>
  </div>
  <div class="form_group" >
    <%= form.password_field :password_confirmation, placeholder: "Password confirm", rows: 7, class: "form-control" %>
  </div>
  <label class="send btn btn-default btn-block">
    <div>
      <%= form.submit "Sign Up", class: "send"%> Create account
    </div>
  </label>
<% end %>