<header>
  <ul class="panel-header  list-inline list-unstyled "> 
    <li class="h-inst">
      <h1 class="instante">Instante</h1>
    </li>
    <li class="h-search">
    <%= form_with url: "/search", method: :get do |form| %>
    <%= form.text_field :query, placeholder:"Search", class: "search-field" %>
      <i class="bi bi-search"></i><%= form.submit "Search", class: "search-btn" %>
    <% end %>
    </li> 
    <li class="h-icons">
      <li class="right"><i class="bi bi-house-fill"></i><%=link_to "Home", posts_path %></li>
      <li class="right"><i class="bi bi-messenger"></i><%=link_to "Message", posts_path %></li>
      <li class="right"><%=link_to "Random", "#" %></li>
      <li class="right"><i class="bi bi-suit-heart"></i><%=link_to "favorites", "#" %></li>
      <li class="right"><i class="bi bi-person-circle"></i><%=link_to "Profile", users_path %></li>
    </li>
  </ul>
</header>
<div class="container-fluid">
  <div class="row signup">
    <div class="col-xs-12 col-sm-8 col-md-6">
      <div class="panel panel-default">
        <h1>Confirmation screen</h1>
        <%= form_with(model: @post, url: posts_path, local: true) do |form| %>
          <%= @post.content %>
          <%= form.hidden_field :content %>
          <%= image_tag(@post.image.url, class: "img-responsive") if @post.image && @post.image.url %>
          <%= form.hidden_field :image_cache %> 
          <label class="send btn btn-default btn-block">
            <div>
              <%= form.submit "post", class: "send" %>post
            </div>
          </label>
        <% end %>
        <%= form_with(model: @post, url: new_post_path, local: true, method: :GET) do |form| %>
          <%= form.hidden_field :content %>
          <%= form.hidden_field :image_cache %>
          <label class="send btn btn-default btn-block"><div>
          <%= form.submit "Back", name: "back", class: "send" %>back</div></label>
        <% end %>
      </div>
    </div>
  </div>
</div>