<div class="main container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-3">
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6">
      <div class="stories panel panel-default">
        <div class="lead">
          <i class="bi bi-file-person-fill"></i><%= link_to "#{current_user.name} ", new_post_path %>
        </div>
        <ul class="list-inline list-unstyled">
          <li><i class="bi bi-camera-video-fill"></i><% link_to "Live Video", "#" %>Live Video</li>
          <li><i class="bi bi-images"></i><% link_to "Photos / Videos", "#" %>Photos / Videos</li>
          <li><i class="bi bi-window"></i><% link_to "Mood / Activity", "#" %>Mood / Activity</li>
        </ul>
      </div>
      <% @posts.each do |post| %>
        <div class="post panel panel-default">
          <ul class="list-inline list-unstyled">
            <li><p class="post_username"><%= link_to "#{post.user.name} #{post.user_id}", "#" %></p></li>  
            <li><p id="post_index">Post</p></li>  
          </ul>
          <p class="post_timestamp"><small><%=  post.updated_at.strftime("%Y-%m-%d %H:%M")%></small></p> 
          <p class="post_content lead"><%= post.content %></p> 
          <div class="post_image">
            <% if post.image.present? %>
              <%= image_tag(post.image.url, class: "img-responsive") %>
            <% end %>
          </div>
            <ul class="list-inline list-unstyled">
              <li><i class="bi bi-hand-thumbs-up-fill"></i><%= link_to "Like", "#" %></li> 
              <li><%= link_to "Comment", "#" %></li> 
              <li><%= link_to "details", post_path(post.id) %></li> 
            </ul>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
    </div>
  </div>
</div>